$color-primary: #10aa50;
$color-primary-dark: darken($color-primary, 5%);
$color-primary-dark-2: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 5%);
$color-primary-light-2: lighten($color-primary, 10%);

$color-success: #50BC2F;
$color-info: #226AF9;
$color-warning: #FFBF00;
$color-error: #E02626;

$color-white: #fff;
$color-white-2: #f4f4f4;

$color-black: #000;

$color-grey: #eee;
$color-grey-2: #777;
$color-grey-3: #333;
$color-grey-4: #171C21;

$font-primary: 'Nunito', sans-serif;
$font-heading: 'Open Sans', sans-serif;