@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500;600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  overflow: hidden;
  background-color: #f4f4f4;
  display: grid;
  grid-template-rows: [nav-start] 7rem [nav-end full-start] repeat(6, [row-start] minmax(calc(0.17 * (100vh - 7rem)), min-content) [row-end]) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@keyframes loadingAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.btn {
  padding: 1rem 3rem;
  font-size: 1.8rem;
  background-color: #10aa50;
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
  user-select: none;
  transition: all 0.3s;
  cursor: pointer;
  border: 0;
}
.btn:disabled {
  background-color: rgba(16, 170, 80, 0.7);
  cursor: no-drop;
}
.btn:disabled:hover {
  background-color: rgba(16, 170, 80, 0.7);
}
.btn:disabled:active {
  background-color: rgba(16, 170, 80, 0.7);
}
.btn:hover {
  background-color: #12c15b;
}
.btn:active {
  background-color: #14d966;
}
.btn-loading {
  position: relative;
  background-color: rgba(16, 170, 80, 0.2) !important;
}
.btn-loading::after {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #000;
  border-bottom: 3px solid transparent;
  animation: loadingAnimation 0.4s linear infinite;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.input_group {
  display: flex;
}

.input {
  border: 1px solid #eee;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
}
.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  height: 80rem;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.popup--wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.popup--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  border-bottom: 1px solid #eee;
}
.popup--header--title {
  user-select: none;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.popup--header--close {
  width: 3rem;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
}
.popup--header--close:hover {
  opacity: 0.6;
}
.popup--body {
  padding: 3rem;
}

@keyframes showNotificationAnimation {
  from {
    transform: translateY(calc(100% + 4rem));
  }
  to {
    transform: translateY(0);
  }
}
@keyframes hideNotificationAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(100% + 4rem));
  }
}
@keyframes progressAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.notification {
  position: relative;
  padding: 2.5rem 5rem 2.5rem 2rem;
  background-color: #10aa50;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.notification-error {
  background-color: #E02626;
}
.notification-warning {
  background-color: #F29500;
}
.notification--wrapper {
  position: fixed;
  left: 4rem;
  bottom: 4rem;
  z-index: 100;
  transform: translateY(calc(100% + 4rem));
}
.notification--wrapper-animation-show {
  animation: showNotificationAnimation 0.2s ease-out forwards;
}
.notification--wrapper-animation-hide {
  animation: hideNotificationAnimation 0.2s ease-out forwards;
}
.notification--text {
  color: #fff;
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: 600;
  user-select: none;
}
.notification--close {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(100%);
  user-select: none;
  cursor: pointer;
  transition: all 0.3s;
}
.notification--close:hover {
  filter: invert(90%);
}
.notification--progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: #eee;
}
.notification--progress-animation {
  animation: progressAnimation 4s linear;
}

.nav {
  grid-row: nav-start/nav-end;
  grid-column: 1/-1;
  background-color: #10aa50;
  color: #fff;
  padding: 0 50rem;
  display: flex;
  align-items: center;
}
.nav--logo {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  user-select: none;
  border-left: 3px solid #fff;
  padding-left: 1rem;
}

.connect, .databases, .collections, .actions {
  background-color: #fff;
  margin: 1rem;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  padding: 5rem 3rem 3rem 3rem;
}
.connect--title, .databases--title, .collections--title, .actions--title {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 0.5;
  user-select: none;
}
.connect--disabled, .databases--disabled, .collections--disabled, .actions--disabled {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.connect--disabled img, .databases--disabled img, .collections--disabled img, .actions--disabled img {
  width: 4.1rem;
  filter: invert(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.connect--help, .databases--help, .collections--help, .actions--help {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #777;
  user-select: none;
}

.connect {
  grid-row: 2/4;
  grid-column: center-start/6;
}
.connect--form {
  display: flex;
  flex-direction: column;
}
.connect--form--input {
  flex-grow: 1;
}
.connect--form--input:not(:last-child) {
  margin-right: 2rem;
}
.connect--status {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 6rem;
  margin-top: 4rem;
}
.connect--status--title {
  position: absolute;
  top: 1rem;
  left: -1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 0.5;
  user-select: none;
}
.connect--status--icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 3rem;
}
.connect--status--icon-connected {
  background-color: #50BC2F;
}
.connect--status--icon-disconnected {
  background-color: #E02626;
}
.connect--status--text {
  font-size: 1.8rem;
  font-weight: 600;
}

.databases {
  grid-row: 4/8;
  grid-column: center-start/6;
  padding-top: 6rem;
  max-height: 60vh;
  overflow-y: auto;
}
.databases--list {
  display: flex;
  flex-direction: column;
}
.databases--list--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.databases--list--item:hover, .databases--list--item-selected {
  background-color: #dbdbdb;
}
.databases--list--item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.databases--list--item--name {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  user-select: none;
}
.databases--list--item--size {
  font-size: 1.3rem;
  font-weight: 600;
  user-select: none;
}

.collections {
  grid-row: 2/7;
  grid-column: 6/center-end;
  overflow-y: auto;
  max-height: 76vh;
  padding-top: 6rem;
}
.collections--list {
  display: flex;
  flex-direction: column;
}
.collections--list--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  border: 1px solid #eee;
  border-radius: 4px;
  transition: all 0.3s;
}
.collections--list--item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.collections--list--item--name {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.collections--list--item--documents {
  font-size: 1.3rem;
  font-weight: 600;
}

.actions {
  grid-row: 7/8;
  grid-column: 6/center-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.actions--item:not(:last-child) {
  margin-right: 2rem;
}
.actions--item:disabled {
  position: relative;
}
.actions--item:disabled::after {
  content: "Select a database";
  background-color: #333;
  color: #fff;
  display: block;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translate(-50%, -100%);
  white-space: nowrap;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  border-radius: 4px;
  transition: all 0.3s;
  opacity: 0;
}
.actions--item:disabled:hover::after {
  opacity: 1;
}

.export_popup--form--options {
  display: flex;
  margin-bottom: 4rem;
}
.export_popup--form--options--label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-right: 5rem;
  cursor: pointer;
  border-left: 8px solid #12c15b;
  padding-left: 1rem;
}
.export_popup--form--options--input {
  cursor: pointer;
}
.export_popup--form--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.export_popup--form--header--title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
.export_popup--form--header--select_all {
  background-color: #226AF9;
  padding: 0.75rem 1.75rem;
  font-size: 1.6rem;
}
.export_popup--form--header--select_all:hover {
  background-color: #3b7bfa;
}
.export_popup--form--collection_list {
  display: flex;
  flex-direction: column;
  height: 51rem;
  max-height: 51rem;
  overflow-y: auto;
  margin-bottom: 1rem;
  border: 2px solid #eee;
}
.export_popup--form--collection_list--item {
  font-size: 1.8rem;
  font-weight: 500;
  user-select: none;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  position: relative;
}
.export_popup--form--collection_list--item:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.export_popup--form--collection_list--item label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-left: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.export_popup--form--collection_list--item input {
  margin-right: 2rem;
  cursor: pointer;
}

.import_popup .popup {
  height: 50rem;
}
.import_popup--form--title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
.import_popup--form--file {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.import_popup--form--file--label {
  font-family: "Open Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
  padding: 2.4rem 4.2rem;
  border: 3px solid #10aa50;
  border-radius: 8px;
  color: #10aa50;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;
}
.import_popup--form--file--label:hover {
  background-color: #f4f4f4;
}
.import_popup--form--file--input {
  display: none;
}
.import_popup--form--overwrite {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 10rem));
}
.import_popup--form--overwrite--label {
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 2rem;
  cursor: pointer;
}
.import_popup--form--overwrite--input {
  cursor: pointer;
}
.import_popup--form--submit--wrapper {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

/*# sourceMappingURL=main.css.map */
