@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500;600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  overflow: hidden;
  background-color: #f4f4f4;
  display: grid;
  grid-template-rows: [nav-start] 7rem [nav-end full-start] repeat(6, [row-start] minmax(calc(0.17 * (100vh - 7rem)), min-content) [row-end]) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.nav {
  grid-row: nav-start/nav-end;
  grid-column: 1/-1;
  background-color: #10aa50;
  color: #fff;
  padding: 0 50rem;
  display: flex;
  align-items: center;
}
.nav--logo {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  user-select: none;
}

.input_group {
  display: flex;
}

.input {
  border: 1px solid #eee;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
}
.btn {
  padding: 1rem 3rem;
  font-size: 1.8rem;
  background-color: #10aa50;
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
  user-select: none;
  transition: all 0.3s;
  cursor: pointer;
  border: 0;
}
.btn:hover {
  background-color: #12c15b;
}
.btn:active {
  background-color: #14d966;
}

.connect, .databases, .collections, .actions {
  background-color: #fff;
  margin: 1rem;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  padding: 5rem 3rem 3rem 3rem;
}
.connect--title, .databases--title, .collections--title, .actions--title {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 0.5;
  user-select: none;
}
.connect--disabled, .databases--disabled, .collections--disabled, .actions--disabled {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.connect--disabled img, .databases--disabled img, .collections--disabled img, .actions--disabled img {
  width: 4.1rem;
  filter: invert(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.connect {
  grid-row: 2/4;
  grid-column: center-start/6;
}
.connect--form {
  display: flex;
  flex-direction: column;
}
.connect--form--input {
  flex-grow: 1;
}
.connect--form--input:not(:last-child) {
  margin-right: 2rem;
}
.connect--status {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 6rem;
  margin-top: 4rem;
}
.connect--status--title {
  position: absolute;
  top: 1rem;
  left: -1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 0.5;
  user-select: none;
}
.connect--status--icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 3rem;
}
.connect--status--icon-connected {
  background-color: #50BC2F;
}
.connect--status--icon-disconnected {
  background-color: #E02626;
}
.connect--status--text {
  font-size: 1.8rem;
  font-weight: 600;
}

.databases {
  grid-row: 4/8;
  grid-column: center-start/6;
}

.collections {
  grid-row: 2/7;
  grid-column: 6/center-end;
}

.actions {
  grid-row: 7/8;
  grid-column: 6/center-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.actions--item:not(:last-child) {
  margin-right: 2rem;
}

/*# sourceMappingURL=main.css.map */
