<%- include('partials/header') %>

<div class="connect">
    <div class="connect--title">
        Connect to a MongoDB instance
    </div>
    <form onsubmit="handleConnect(event)" class="connect--form">
        <div class="input_group connect--form--input_group">
            <input type="text" name="url" required placeholder="MongoDB URL" id="urlInput" class="input connect--form--input">
            <input type="submit" value="Connect" id="connectButton" class="btn connect--form--input-submit">
        </div>
    </form>    
    <div class="connect--status">
        <div class="connect--status--title">
            Status
        </div>
        <div class="connect--status--icon connect--status--icon-disconnected">            
        </div>
        <div class="connect--status--text">
            Disconnected
        </div>
    </div>
</div>
<div class="databases">
    <div class="databases--title">
        Databases
    </div>
    <div class="databases--list">
    </div>
    <div class="databases--help">
        Connect to a MongoDB instance
    </div>    
</div>
<div class="collections">
    <div class="collections--title">
        Collections
    </div>
    <div class="collections--list">
    </div>
    <div class="collections--help">
        Select a database
    </div>    
</div>
<div class="actions">
    <button id="export-btn" class="btn actions--item actions--item-export">
        Export
    </button>
    <button id="import-btn" class="btn actions--item actions--item-import">
        Import
    </button>
</div>

<script src="/script/main.js"></script>
<script>
database = JSON.parse('<%-database%>');
updateConnectionStatus();
updateDatabaseList();
updateActionButtons();
updateCollectionList();
</script>
<%- include('partials/footer') %>