<%- include('partials/header') %>

<div class="connect">
    <div class="connect--title">
        Connect to a MongoDB instance
    </div>
    <form onsubmit="handleConnect(event)" class="connect--form">
        <div class="input_group connect--form--input_group">
            <input type="text" name="url" required placeholder="MongoDB URL" id="urlInput" class="input connect--form--input">
            <input type="submit" value="Connect" id="connectButton" class="btn connect--form--input-submit">
        </div>
    </form>    
    <div class="connect--status">
        <div class="connect--status--title">
            Status
        </div>
        <div class="connect--status--icon connect--status--icon-disconnected">            
        </div>
        <div class="connect--status--text">
            Disconnected
        </div>
    </div>
</div>
<div class="databases">
    <div class="databases--title">
        Databases
    </div>
    <div class="databases--list">
    </div>
    <div class="databases--help">
        Connect to a MongoDB instance
    </div>    
</div>
<div class="collections">
    <div class="collections--title">
        Collections
    </div>
    <div class="collections--list">
    </div>
    <div class="collections--help">
        Select a database
    </div>    
</div>
<div class="actions">
    <button onclick="handleOpenExportPopup()" id="export-btn" class="btn actions--item actions--item-export">
        Export
    </button>
    <button onclick="handleOpenImportPopup()" id="import-btn" class="btn actions--item actions--item-import">
        Import
    </button>
</div>
<div class="popup--wrapper export_popup" onclick="handleCloseExportPopup()">
    <div class="popup" onclick="event.stopPropagation()">
        <div class="popup--header">
            <div></div>
            <div class="popup--header--title">
                Export database
            </div>
            <img src="/icons/close-outline.svg" alt="X" class="popup--header--close" onclick="handleCloseExportPopup()" />                
        </div>
        <div class="popup--body">
            <form onsubmit="handleExport(event)" class="export_popup--form" action="#">
                <div class="export_popup--form--options">
                    <label class="export_popup--form--options--label" for="exportIndexes">
                        Export indexes
                    </label>
                    <input class="export_popup--form--options--input" type="checkbox" id="exportIndexes" name="exportIndexes" checked />
                </div>
                <div class="export_popup--form--header">
                    <div class="export_popup--form--header--title">
                        Select collections you want to export
                    </div>
                    <button type="button" onclick="toggleSelectAll(event)" id="select-all-btn" class="btn export_popup--form--header--select_all">
                        Unselect all
                    </button>
                </div>
                <div class="export_popup--form--collection_list">
                </div>
                <button type="submit" class="btn export_popup--form--submit">
                    Export
                </button>
            </form>
        </div>
    </div>
</div>
<div class="popup--wrapper import_popup" onclick="handleCloseImportPopup()">
    <div class="popup" onclick="event.stopPropagation()">
        <div class="popup--header">
            <div></div>
            <div class="popup--header--title">
                Import database
            </div>
            <img src="/icons/close-outline.svg" alt="X" class="popup--header--close" onclick="handleCloseImportPopup()" />                
        </div>
        <div class="popup--body">
            <form onsubmit="handleImport(event)" class="import_popup--form" action="#">
                <div class="import_popup--form--title">
                    Select a file you want to import from
                </div>
                <div class="input_group import_popup--form--file">
                    <label class="import_popup--form--file--label" for="importFile">Select file</label>
                    <input onchange="handleSelectFile(event)" required type="file" name="importFile" id="importFile" class="import_popup--form--file--input" accept="application/JSON" />
                </div>
                <div class="input_group import_popup--form--overwrite">
                    <label class="import_popup--form--overwrite--label" for="overwriteCollections">Overwrite database</label>
                    <input type="checkbox" name="overwriteCollections" id="overwriteCollections" class="import_popup--form--overwrite--input" />
                </div>
                <div class="import_popup--form--submit--wrapper">
                    <button type="submit" class="btn import_popup--form--submit">
                        Import
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="notification--wrapper">
    <div class="notification">
        <div class="notification--text">
            Notification text
        </div>
        <img src="/icons/close-outline.svg" alt="X" class="notification--close" onclick="handleCloseNotification()" draggable="false" />                
        <div class="notification--progress">
        </div>
    </div>
</div>
<script src="/script/main.js"></script>
<script>
database = JSON.parse('<%-database%>');
updateConnectionStatus();
updateDatabaseList();
updateActionButtons();
updateCollectionList();
</script>
<%- include('partials/footer') %>