<%- include('partials/header') %>

<div class="connect">
    <div class="connect--title">
        Connect to a MongoDB instance
    </div>
</div>
<div class="actions">
</div>
<div class="databases">
    <div class="databases--title">
        Databases
    </div>
    <div class="databases--disabled">
        <img src="/icons/lock-closed-outline.svg" alt="Lock closed">
    </div>
    
</div>
<div class="collections">
    <div class="collections--title">
        Collections
    </div>

</div>

<%- include('partials/footer') %>