<%- include('partials/header') %>

<div class="connect">
    <div class="connect--title">
        Connect to a MongoDB instance
    </div>
    <form onsubmit="handleConnect(event)" class="connect--form">
        <div class="input_group connect--form--input_group">
            <input type="text" name="url" required placeholder="MongoDB URL" id="urlInput" class="input connect--form--input">
            <input type="submit" value="Connect" id="connectButton" class="btn connect--form--input-submit">
        </div>
    </form>    
    <div class="connect--status">
        <div class="connect--status--title">
            Status
        </div>
        <div class="connect--status--icon connect--status--icon-disconnected">            
        </div>
        <div class="connect--status--text">
            Disconnected
        </div>
    </div>
</div>
<div class="databases">
    <div class="databases--title">
        Databases
    </div>
    <div class="databases--list">
    </div>
    <div class="databases--help">
        Connect to a MongoDB instance
    </div>    
</div>
<div class="collections">
    <div class="collections--title">
        Collections
    </div>
    <div class="collections--list">
    </div>
    <div class="collections--help">
        Select a database
    </div>    
</div>
<div class="actions">
    <button onclick="handleOpenExportPopup()" id="export-btn" class="btn actions--item actions--item-export">
        Export
    </button>
    <button id="import-btn" class="btn actions--item actions--item-import">
        Import
    </button>
</div>
<div class="popup--wrapper">
    <div class="popup export_popup">
        <div class="popup--header">
            <div></div>
            <div class="popup--header--title">
                Export database
            </div>
            <img src="/icons/close-outline.svg" alt="X" class="popup--header--close" />                
        </div>
        <div class="popup--body">
            <form class="export_popup--form" action="#">
                <div class="export_popup--form--collection_list">
                    <div class="export_popup--form--collection_list--title">

                    </div>
                    <div class="export_popup--form--collection_list--item">
                        <label for="usersCollection">Users</label>
                        <input type="checkbox" name="usersCollection" id="usersCollection">
                    </div>
                </div>
                <input type="submit" value="Export" class="btn">
            </form>
        </div>
    </div>
</div>

<script src="/script/main.js"></script>
<script>
database = JSON.parse('<%-database%>');
updateConnectionStatus();
updateDatabaseList();
updateActionButtons();
updateCollectionList();
</script>
<%- include('partials/footer') %>