.btn {
    padding: 1rem 3rem;
    font-size: 1.8rem;
    background-color: $color-primary;
    color: $color-white;
    border-radius: 4px;
    font-weight: 500;
    user-select: none;
    transition: all .3s;
    cursor: pointer;
    border: 0;

    &:disabled {
        background-color: rgba($color-primary, 0.7);
        cursor: no-drop;
        position: relative;

        &:hover {
            background-color: rgba($color-primary, 0.7);
        }
        &:active {
            background-color: rgba($color-primary, 0.7);
        }

        &::after {
            content: "Select a database";
            background-color: $color-grey-3;
            color: $color-white;
            display: block;
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translate(-50%, -100%);
            white-space: nowrap;
            font-family: $font-primary;
            font-size: 1.6rem;
            font-weight: 600;
            padding: 0.5rem 1.25rem;
            border-radius: 4px;
            transition: all .3s;
            opacity: 0;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    &:hover {
        background-color: $color-primary-light;
    }
    &:active {
        background-color: $color-primary-light-2;
    }
}