.connect, .databases, .collections, .actions {
    background-color: $color-white;
    margin: 1rem;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    padding: 5rem 3rem 3rem 3rem;

    &--title {
        position: absolute;
        top: 1rem;
        left: 2rem;
        font-family: $font-heading;
        font-size: 1.8rem;
        font-weight: 600;
        opacity: 0.5;
        user-select: none;
    }

    &--disabled {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($color-black, 0.2);

        img {
            width: 4.1rem;
            filter: invert(100%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            user-select: none;
        }
    }

    &--help {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-heading;
        font-size: 1.6rem;
        font-weight: 500;
        color: $color-grey-2;
        user-select: none;
    }
}

.connect {
    grid-row: 2 / 4;
    grid-column: center-start / 6;
    
    &--form {
        display: flex;
        flex-direction: column;

        &--input {
            flex-grow: 1;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

    &--status {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 6rem;
        margin-top: 4rem;

        &--title {
            position: absolute;
            top: 1rem;
            left: -1rem;
            font-family: $font-heading;
            font-size: 1.8rem;
            font-weight: 600;
            opacity: 0.5;
            user-select: none;
        }

        &--icon {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin-right: 3rem;

            &-connected {
                background-color: $color-success;
            }
            &-disconnected {
                background-color: $color-error;
            }
        }

        &--text {
            font-size: 1.8rem;
            font-weight: 600;
        }
    }

}

.databases {
    grid-row: 4 / 8;
    grid-column: center-start / 6;
    padding-top: 6rem;
    max-height: 60vh;
    overflow-y: auto;

    &--list {
        display: flex;
        flex-direction: column;

        &--item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 3rem;
            background-color: $color-white-2;
            border-radius: 8px;
            cursor: pointer;
            transition: all .3s;

            &:hover, &-selected {
                background-color: darken($color-white-2, 10%);
            }

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            &--name {
                font-size: 1.8rem;
                font-family: $font-heading;
                font-weight: 500;
                user-select: none;
            }

            &--size {
                font-size: 1.3rem;
                font-weight: 600;
                user-select: none;
            }
        }
    }
}

.collections {
    grid-row: 2 / 7;
    grid-column: 6 / center-end;
    overflow-y: auto;
    max-height: 76vh;
    padding-top: 6rem;
    
    &--list {
        display: flex;
        flex-direction: column;

        &--item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 3rem;
            border: 1px solid $color-grey;
            border-radius: 4px;
            transition: all .3s;

            &:hover, &-selected {
                // background-color: darken($color-white-2, 10%);
            }

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            &--name {
                font-size: 1.8rem;
                font-family: $font-heading;
                font-weight: 500;
            }

            &--documents {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
    }
}

.actions {
    grid-row: 7 / 8;
    grid-column: 6 / center-end;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &--item {
        &:not(:last-child) {
            margin-right: 2rem;
        }

        &:disabled {
            position: relative;

            &::after {
                content: "Select a database";
                background-color: $color-grey-3;
                color: $color-white;
                display: block;
                position: absolute;
                top: -1rem;
                left: 50%;
                transform: translate(-50%, -100%);
                white-space: nowrap;
                font-family: $font-primary;
                font-size: 1.6rem;
                font-weight: 600;
                padding: 0.5rem 1.25rem;
                border-radius: 4px;
                transition: all .3s;
                opacity: 0;
            }
    
            &:hover::after {
                opacity: 1;
            }
        }
    }
}

.export_popup {
    &--form {

        &--options {
            display: flex;
            margin-bottom: 4rem;

            &--label {
                font-family: $font-heading;
                font-size: 1.8rem;
                font-weight: 600;
                margin-right: 5rem;
                cursor: pointer;
                border-left: 8px solid $color-primary-light;
                padding-left: 1rem;
            }
            &--input {
                cursor: pointer;
            }
        }

        &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;

            &--title {
                font-family: $font-heading;
                font-size: 1.8rem;
                font-weight: 600;
            }

            &--select_all {
                background-color: $color-info;
                padding: 0.75rem 1.75rem;
                font-size: 1.6rem;
                
                &:hover {
                    background-color: lighten($color-info, 5%);
                }
            }
        }

        &--collection_list {
            display: flex;
            flex-direction: column;
            height: 51rem;
            max-height: 51rem;
            overflow-y: auto;
            margin-bottom: 1rem;
            border: 2px solid $color-grey;

            &--item {
                font-size: 1.8rem;
                font-weight: 500;
                user-select: none;
                padding: 1.5rem 2rem;
                display: flex;
                align-items: center;
                position: relative;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey;
                    // padding-bottom: 1rem;
                }

                label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    padding-left: 6rem;

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
                
                input {
                    margin-right: 2rem;
                    cursor: pointer;
                }
            }
        }
    }
}

.import_popup {
    .popup {
        height: 50rem;
    }


    &--form {

        &--title {
            font-family: $font-heading;
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 4rem;
        }

        &--file {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &--label {
                font-family: $font-heading;
                font-size: 3.2rem;
                font-weight: 500;
                padding: 2.4rem 4.2rem;
                border: 3px solid $color-primary;
                border-radius: 8px;
                color: $color-primary;
                cursor: pointer;
                transition: all .3s;
                white-space: nowrap;

                &:hover {
                    background-color: $color-white-2;
                }
            }

            &--input {
                display: none;
            }
        }

        &--overwrite {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc(-50% + 10rem));

            &--label {
                font-size: 1.6rem;
                font-weight: 400;
                margin-right: 2rem;
                cursor: pointer;
            }
            
            &--input {
                cursor: pointer;
            }

        }

        &--submit--wrapper {
            position: absolute;
            bottom: 3rem;
            left: 3rem;
        }

    }
}